@import 'colors.scss';
@import "@material/react-button/index.scss";
@import "@material/button/mixins";

.Tile {
  width: 42px;
  height: 42px;
}

.editor-grid {
  display: inline-block;
  background-color: $mdc-theme-surface;
  border-color: $mdc-theme-primary;
  border-width: medium;
  border-style: solid;
}
