@import 'colors.scss';
@import "@material/react-button/index.scss";
@import "@material/button/mixins";
@import '@material/react-icon-button/index.scss';
@import '@material/image-list/mdc-image-list';

.Shelf {
  background-color: $mdc-theme-surface;
  border-color: $mdc-theme-primary;
  border-width: medium;
  border-style: solid;
  margin: 16px;
}

hr {
  border-color: $mdc-theme-primary;
  margin: 0px;
}

.LevelObjects {
  // background-color: #FF8888;
  padding: 8px;
}

.Tools {
  // background-color: #88FF88;
  padding: 8px;
}

.LevelResizer {
  // background-color: #8888FF;
  padding: 8px;
}

.shelfset-name {
  font-family: 'Roboto';
  font-size: 18px;
  margin-top: 0px;
}

.shelfset {
  @include mdc-image-list-standard-columns(3);
}

.shelf-item-label {
  color: $black;
  margin: auto;
}

.dimension-button {
  @include mdc-icon-button-size(24px, 24px, 0px)
}

.dimensions-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.dimension-value {
  margin: 4px;
  font-family: 'Roboto';
}

.dimension-direction {
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  margin-bottom: 0px;
}
