@import 'colors.scss';
@import "@material/typography/mdc-typography";

.editor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 64px 64px 24px 64px;
}

.grid-container {
  // margin-right: 24px;
  margin: 0px;
  padding: 4px 4px 4px 4px;
  background-color: $mdc-theme-primary;
  border-radius: 8px;
  box-shadow: 0px 1px 1px #00000088;
}

.Shelf {
  background-color: $mdc-theme-surface;
  border-color: $mdc-theme-primary;
  border-width: medium;
  border-style: solid;
  margin: 0px;
  min-width: 188px;
  width:188px;
  max-width: 188px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px #00000044;
}
