@import 'colors.scss';
@import "@material/typography/mdc-typography";
@import '@material/react-icon-button/index.scss';
@import "@material/react-button/index.scss";


.editor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  padding: 12px;
}

.grid-container {
  margin: 0px;
  padding: 4px 4px 4px 4px;
  background-color: $mdc-theme-primary;
  border-radius: 8px;
  box-shadow: 0px 1px 1px #00000088;
  flex-basis: 8;
  flex-shrink: 6;
}

.editor-grid {
  flex-grow: 8;

}

.editor-shelf {
  flex-grow: 2;
  margin: 0px;
  min-width: 220px;
  max-width: 200px;
  background-color: $mdc-theme-surface;
  border-color: $mdc-theme-primary;
  border-width: medium;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0px 2px 2px #00000044;
}

// GENERIC SHELF COMPONENTS:

hr {
  border-color: $mdc-theme-primary;
  margin: 0px;
}

.shelf-help {
  margin-left: auto;
  @include mdc-icon-button-size(24px, 24px, 4px)
}

.dimension-button {
  @include mdc-icon-button-size(24px, 24px, 0px);
}

.right-hand-sidebar {
  max-height: 85%;
}

// hide outline caused by hotkeys
div[tabindex="-1"]:focus {
    outline: 0;
}

.hotkey-button {
  width: 100%;
  // @include mdc-button-ink-color($mdc-theme-on-primary);
}
