@import 'colors.scss';
@import '@material/react-list/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-fab/index.scss';

.levelbar-header {
  padding: 8px;
  margin-bottom: 0px !important;
}

.level-list {
  padding-top: 0px;
}

.level-list-item {
  padding-right: 0px;
}

.level-list-field {
  padding-left: 8px;
  @include mdc-text-field-caret-color($mdc-theme-secondary);
  @include mdc-text-field-bottom-line-color($mdc-theme-secondary);

}

.level-list-add {
  float: right;
  margin: 8px;
  @include mdc-fab-container-color($mdc-theme-secondary);
  @include mdc-fab-ink-color($mdc-theme-on-primary);
}

.mdc-text-field--disabled {
  background-color: transparent;
}

div[tabindex="-1"]:focus {
    outline: 0;
}

.ignore-keys {
  position: absolute;
  right: 0;
  left: 0;

}
