@import 'colors.scss';
@import '@material/react-list/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-fab/index.scss';
@import '@material/react-icon-button/index.scss';


.levelbar-header {
  padding: 8px;
  margin-bottom: 0px !important;
}

.level-list {
  padding-top: 0px;
}

.level-list-item {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 0px 8px;
}

.level-list-input {
  padding-left: 4px;
  padding-right: 4px;
}

.mdc-list-item--selected {
  background-color: #0000000A
}

.level-list-field {
  padding-bottom: 12px;
  margin-left: 0px;
  @include mdc-text-field-caret-color($mdc-theme-secondary);
  @include mdc-text-field-bottom-line-color(#00000000); //bottom line hidden
  @include mdc-text-field-hover-bottom-line-color($mdc-theme-secondary); //show it on hover
  @include mdc-text-field-line-ripple-color($mdc-theme-secondary); //show thicker on click
}


.mdc-line-ripple {
  bottom: 10px;
}

//prevents background when selected
.mdc-text-field:not(.mdc-text-field--disabled) {
    background-color: #00000000;
}

//hide bottom line on disabled fields
.mdc-text-field--disabled .mdc-text-field__input {
    border-bottom-color: rgba(0, 0, 0, 0);
}

//prevents hover color
.mdc-text-field::before, .mdc-text-field::after {
    background-color: rgba(0, 0, 0, 0);
}

.level-list-delete {
  color: $mdc-theme-primary !important;
  @include mdc-icon-button-size(24px, 24px, 0px);
}

.mdc-text-field--disabled {
  background-color: transparent;
}

.level-list-add {
  float: right;
  margin: 8px;
  @include mdc-fab-container-color($mdc-theme-secondary);
  @include mdc-fab-ink-color($mdc-theme-on-primary);
}


div[tabindex="-1"]:focus {
    outline: 0;
}

.ignore-keys {
  outline: 0 !important;
  // position: absolute;
  // right: 0;
  // left: 0;
  // top: 0;
  // bottom: 0;

}
