@import 'colors.scss';
@import "@material/react-button/index.scss";
@import "@material/button/mixins";

.tile {
  width: 42px;
  height: 42px;
  overflow: hidden;
  background-color: $mdc-theme-surface;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border: 1px solid #000A0ABB;
}

.grid-container {

}

.editor-row {
  //width: 600px;
  //white-space: normal;
}

.editor-grid {
  display: inline-block;
  border-color: $mdc-theme-primary;
  border-width: medium;
}


.grid-scroll-layer {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  max-height: 85%;
}

.grid-scroll-layer::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}

.grid-scroll-layer::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 10px;
    background-color: $mdc-theme-surface;
}

.grid-scroll-layer::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.grid-scroll-layer::-webkit-scrollbar-corner {
    background-color: transparent;
}
