@import './_colors.scss';
@import "@material/react-button/index.scss";
@import "@material/button/mixins";

.Shelf {
  background-color: $mdc-theme-surface;
}

.LevelObjects {
  background-color: #FF8888;
  margin: 4px;
}

.Tools {
  background-color: #88FF88;
  margin: 4px;
}

.LevelResizer {
  background-color: #8888FF;
  margin: 4px;
}
