@import 'colors.scss';
@import "@material/react-button/index.scss";
@import "@material/image-list/mdc-image-list.scss";
@import '@material/react-icon-button/index.scss';
@import '@material/image-list/mdc-image-list';
@import '@material/react-ripple/index.scss';



.name {
  padding: 0px;
}


.shelf-item {
  margin: auto;
  width: calc(100% / 3 - 4px);
  border-radius: 6px;
  text-align: center;
  user-select: none;
}

.active-shelf-item {
  box-shadow: 0px 0px 0px 2px $mdc-theme-secondary;
  box-shadow: 0px 2px 1px $black-trans;
}

h4 {
    display: block;
    -webkit-margin-before: 0.66em;
    -webkit-margin-after: 0.66em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


.shelf {
  padding: 8px;
}

.shelf-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 12px;
}

.shelf-title {
  font-family: "Roboto";
  font-size: 18px;
  margin: 0px;
}

.shelf-items {
  display: flex;
  flex-wrap: wrap;
}

.shelf-item-label {
  color: $black;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
  margin: auto;
}


.shelf-item:hover {
  cursor: pointer;
}

.active-shelf-item {
  box-shadow: 0px 0px 0px 2px $mdc-theme-secondary;
}

.inactive-shelf-item {

}

.shelf-item-icon {
  width: 48px;
  height: 48px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.shelf-item-label {
  color: $black;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
  margin: auto;
}
