@import 'colors.scss';
@import "@material/typography/mdc-typography";
@import '@material/react-icon-button/index.scss';

.shelf-item-container {display: default;}

.hover-icon-container {display: inline}

.inactive-shelf-item .hover-icon-container {
  display: none;
}

.active-shelf-item .hover-icon-container {
  display: none;
}

.active-shelf-item:hover .hover-icon-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.hover-icon {
  position: absolute;
  font-size: 48px;
  left: 8px;
  color: $mdc-theme-secondary;
  filter: drop-shadow(0px 2px 1px $black-trans);
}

.tool {
  display: flex;
}

.toolshelf-item {

}
