$mdc-theme-primary: #455a64;  // navbar color
$mdc-theme-secondary: #4caf50; // green button color / highlight
$mdc-theme-background: #607d8b; // primary background color
$mdc-theme-surface: #dae6e9; // background for grid and toolbar
