@import './_colors.scss';
@import "@material/react-button/index.scss";
@import "@material/button/mixins";

@mixin colored-button {
  margin: 24px 8px;
  @include mdc-button-container-fill-color($mdc-theme-secondary);
}
.button-save-load {
  @include colored-button;
}
.button-new {
  @include colored-button;
  margin-left: auto;
}

.App {
  display: flex;
  width: vw;
  background-color: $mdc-theme-background
}
