
// defines all the colors we should need.
// see https://github.com/material-components/material-components-web/tree/master/packages/mdc-theme


$mdc-theme-primary: #455a64;  // navbar color
$mdc-theme-on-primary: #ffffff; //text on primary
$mdc-theme-secondary: #4caf50; // green button color / highlight
$mdc-theme-background: #607d8b; // primary background color
$mdc-theme-surface: #dae6e9; // background for grid and toolbar
$black: #000000;
